.col-main,.col-footer{
	width:100%;
}
header{
	background: #7cc576;
	width: 960px;
	height:233px;
}
.logo{
	float: left;
	width: 13%;
	height:11%;
	padding: 15px
	box-sizing:border-box;
}
.desktop-nav{
	float:left;
	background: blue
	width:calc(100%-20px);
	
}
.desktop-nav ul{
	100%
}
.desktop-nav li{
	box-sizing: border-box;
	width 33%
	float: left;
}
.main-nav a{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}
.img-sidebar{
	float:right;
	width: 30%
	padding:10px;
	box-sizing: border-box;
}
.content-sidebar{
	float:right;
	width: 30%;
	box-sizing:border-box;
}
#site-sidebar{
	float:right;
	width: 35%;
	box-sizing:border-box;
}
.col-footer{
	width: 32%;
	margin: 1 1%;
	padding: 12px
}






