.col-main,.col-footer{
	width:100%;
}
header{
	background: #7cc576;
	width: 960px;
	height:233px;
}
.logo{
	float: left;
	width: 13%;
	height:11%;
	padding: 15px
	box-sizing:border-box;
}
.desktop-nav{
	float:left;
	background: blue
	width:calc(100%-20px);
	
}
.desktop-nav ul{
	100%
}
.desktop-nav li{
	box-sizing: border-box;
	width 33%
	float: left;
}
.main-nav a{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}
.site-content{
	float:right;
	width: 30%
	height:50%;
	box-sizing: border-box;
}







